<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groceryExpiry"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.CAMERA"/>;
<uses-feature android:name="android.hardware.camera" />;
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        

        <activity android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
                  android:screenOrientation="landscape"
                  android:label="@string/app_name" />
        
        <activity
            android:name="com.groceryExpiry.FoodItemListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            
        </activity>
                <activity android:name="com.groceryExpiry.ScannerActivity"
             android:label="@string/title_scan"
            android:parentActivityName="com.groceryExpiry.FoodItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.groceryExpiry.FoodItemListActivity" />

        </activity>
        
        <activity
            android:name="com.groceryExpiry.AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName="com.groceryExpiry.FoodItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.groceryExpiry.FoodItemListActivity" />
        </activity>
        <activity
            android:name="com.groceryExpiry.SearchableActivity"
            android:label="@string/title_activity_searchable" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.groceryExpiry.EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:parentActivityName="com.groceryExpiry.FoodItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.groceryExpiry.FoodItemListActivity" />
        </activity>
        
        <receiver
            android:process=":remote"
            android:name="NotificationReceiver">
            
        </receiver>
    </application>

</manifest>